/* COMMON */

@font-face {
    font-family: 'Gardens';
    src: url('fonts/GardensC_03_1.otf') format('opentype');
}

/* Шрифт этот не понравился все таки, надо другой найти */
@font-face {
    font-family: 'PermanentMarker';
    src: url('fonts/PermanentMarker.ttf') format('truetype');
}

body {
  font-family: Gardens, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 40px;
}

h2 {
  margin-top: 40px;
}

h5 {
  color: #FFFDFC;
}

h3 {
  /*text-align: center;*/
}

.center {
	text-align: center;
}

.anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;	
}

/* EOF COMMON */

/* ICON */

.sIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0px 7px;
  text-indent: -9000em;
  position: relative;
}

.sIcon.sIcon-twitter {
  background-image: url('images/twitter.png');
}

.sIcon.sIcon-vk {
  background-image: url('images/vk.png');
}

.sIcon.sIcon-facebook {
  background-image: url('images/facebook.png');
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .sIcon.sIcon-twitter {
    background-image: url('images/twitter@2x.png');
  }
  
  .sIcon.sIcon-vk {
    background-image: url('images/vk@2x.png');
  }
  
  .sIcon.sIcon-facebook {
    background-image: url('images/facebook@2x.png');
  }
}

/* EOF ICON */

/* NAVBAR */

.navbar .lang {
  position: relative;
  top: 2px;
  margin-right: 14px;
}

.navbar .logo-text {
  margin: 6px 70px;
}

.navbar .sIcon {
  position: relative;
  top: 8px;
  border-radius: 36px;
}

.navbar .sIcon:hover {
  opacity: 0.9;
}

.navbar .app-icon-micro {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  position: relative;
  top: -2px;
}

.navbar .brand {
  font-family: PermanentMarker, Arial, sans-serif;
  font-size: 30px;
  margin: 4px 0px;
  color: #7a7a7a;
}

/*
@media (min-width: 768px) {
  .navbar .container {
    padding-left: 17%;
    padding-right: 17%;
  }
}
*/

/* EOF NAVBAR */

/* JUMBOTRON */

.jumbotron {
  padding-top: 100px;
  position: relative;
  background: -webkit-linear-gradient(#2d57a1 11.59%, #5cd8d0 100%);
  border-bottom: 1px solid #e0e0e0;
  color: white;
  min-height: 100%;
}

@media (min-width:1200px) {
    .jumbotron .container {
        width: 1100px
    }
}

.jumbotron .logo-and-title {
  padding-top: 2%;
  padding-bottom: 2%;
}

.jumbotron h1 {
  font-family: PermanentMarker, Arial, sans-serif;
  font-size: 67px;
}

.jumbotron h1 span {
  font-size: 52px;
}

.jumbotron img.hidden-xs {
	width: 37%;
	height: 37%;
	max-width: 1024px;
	max-height: 1024px;
}

.jumbotron img.hidden-lg {
	width: 50%;
	height: 50%;
}

.jumbotron .iPhone-screen {
  width: 90%;
  height: 90%;
}

.jumbotron h1 {
  margin: 0;
}

.jumbotron .release-date {
  position: absolute;
  bottom: 180px;
  right: 29%;
  background: -webkit-linear-gradient(#ffec22 0%, #ffcd17 100%);
  width: 130px;
  height: 130px;
  border-radius: 120px;
  text-align: center;
  padding-top: 34px;
  border: 4px solid #d0c600;
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.1);
}

.jumbotron .release-date span {
  font-style: italic;
  font-size: 16px;
  display: block;
}

.jumbotron .hover-mid {
  padding-top: 3%;
  padding-bottom: 3%;
}

.jumbotron .links-are-below {
  margin-top: 30px;
}

.jumbotron .small-text {
  font-size: 16px;
  margin-top: 25px;
}

.jumbotron .download-mac {
  padding-left: 11px;
  padding-right: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.jumbotron .download-mac-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
}

.jumbotron .app-icon-mini {
  width: 128px;
  height: 128px;
  margin-bottom: 15px;
}

.jumbotron .app-icon-maxi {
  width: 75%;
  height: 75%;
}


/* EOF JUMBOTRON */

/* CAROUSEL */

a.left.carousel-control,
a.right.carousel-control {
  background: none;
  margin-top: 8%;
  height: 70%;
}

/* EOF CAROUSEL */

/* DOWNLOAD */

.VK_group_block {
  width: 240px;
  height: 90px;
  background: url("images/download/vk2.png");
  position: relative;
  margin-bottom: 10px;
	margin-top:20px;
}

.VKgbT {
	position: absolute;
	top: 37px;
  left: 93px;
  width: 140px;
  color: #FFFDFC;
  overflow: hidden;
    
}
.downloadapplication{
	margin-bottom: 10px;
	margin-right:40px;
}

/* EOF DOWNLOAD */

/* ARTICLES */

.article {
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.article.last {
  border-bottom: none;
  padding-bottom: 0;
}

.article img.pull-left {
  margin: 0 30px 0 0;
}

.article > footer:before {
  content:'\2014 \00A0';
}
.article > footer {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

/* EOF ARTICLES */

/* TEAM */

.hd-face {
	width: 150px;
	height: 150px;
}

.team div {
	padding: 0px 10px 60px 20px;
}

.team div:last-child {
  padding-bottom: 0px;
}

.team img {
	margin-bottom: 20px;
}

.team .lead {
	margin-bottom: 10px;
}

.team .sIcon {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.team .sIcon:hover, .team .sIcon:active {  
  -webkit-transform: translate(0,-6px);
  -moz-transform: translate(0,-6px);
  -o-transform: translate(0,-6px);
  -ms-transform: translate(0,-6px);
  transform: translate(0,-6px);
  opacity: 0.9;
}

/* EOF TEAM */

/* FOOTER */

footer.main-footer {
  padding: 40px 0 30px 0;
  margin-top: 30px;
  text-align: center;
  background: -webkit-linear-gradient(#58c3cf 0%, #3aa0cb 100%);
  color: white;
}

footer.main-footer a {
  color: white;
  border-bottom: 1px dotted white;
  margin-bottom: 1px;
}

footer.main-footer a:hover {
  color: #faffb7;
  border-bottom: 1px dotted #faffb7;
  text-decoration: none;
}

footer.main-footer a:active {
  color: #f7ff84;
  border-bottom: none;
  text-decoration: none;
}

footer.main-footer .trademarks {
  font-size: 12px;
  margin: 25px 0;
  text-align: left;
}

.arrow-offset {
	position: relative;
	top: -2px;
	padding-right: 10px;
}

/* EOF FOOTER */